<div class='inner' ng-controller='registerController'>
  <h2>Register</h2>
  <form class="form" name='registerForm' ng-submit="registerUser()">
    <label for="name">Name</label>
    <input type="text"  ng-model="registerForm.name" required='required'>
    <label for="email">Email</label>
    <input type="email" ng-model="registerForm.email" required='required'>
    <label for="password">Password</label>
    <input type="password"  ng-model="registerForm.password" required='required'>
    <label for="password-confirm">Confirm Password</label>
    <input type="password" ng-model="registerForm.passwordConfirm">
    <input class="button" type="submit" value="Register">
  </form>
</div>
