<div ng-controller='storeController'>
<div class='single' ng-controller='storeController'>
  <div class='single__hero'>
    <img class='single__image' src='../images/store.png'/>
    <h2 class='title title--single'>
      <a>{{name}}</a>
    </h2>
  </div>
</div>
<div class='single__details inner'>
  <img class="single__map" src="https://maps.googleapis.com/maps/api/staticmap?center={{lat}},{{lng}}&amp;zoom=14&amp;size=800x150&amp;key=AIzaSyCb3G9dOYPnJWbAK_P_d4Yt7xW-D7F3Rq4&amp;markers={{lat}},{{lng}}&amp;scale=2"/>
  <p class='single__location'>{{location}}</p>
  <p>{{description}}</p>
  <ul class="tags" >
    <li class="tag" ng-repeat='tag in tags'>
      <a class="tag__link" href=""><span class="tag__text">{{tag}}</span></a>
    </li>
  </ul>
</div>
</div>
</div>
